@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 30px;
}

#esquerda, #direita {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -30px;
}
#esquerda img {
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
    gap: 40px;
    opacity: 0px;
}
#direita img {
    /* margin-top: 5%; */
    width: 420px;
    height: 348px;
    top: 40px;
    left: 40px;
    gap: 40px;
    opacity: 0px;
}
#direita{
    border-radius: 10px;
    border-style: none;
    background-color: #ece6e6;
    height: 650px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.521);
}


#input-texto{
    width: 560px;
    height: 348px;
    top: 168px;
    left: 240px;
    gap: 0px;
    opacity: 0px;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    border-radius: 10px;
    border-style: none;
    outline: none;
    background-color: transparent;
    padding: 30px;
    
}
::placeholder{
    color: #6153df;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.botao {
    background: #fffdfd;
    color: #6153df;
    margin: 52px 160px;

}
.botao1 {
    background: #6153df;
    color: #f0eded;
}
.botao2 {
    background: #fffdfd;
    color: #6153df;
}

.botao1:hover {
    background-color: #fffdfd;
    color: #6153df;
    transform: scale(1.1);
    transition-duration: 0.9s;
}
.botao2:hover {
    background-color: #6153df;
    color: #fffdfd;
    transform: scale(1.1);
    transition-duration: 0.9s;
}
.botao:hover {
    background-color: #6153df;
    color: #fffdfd;
    transform: scale(1.2);
    transition-duration: 0.9s;
}
button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 280px;
    height: 45px;
    gap: 8px;
    border-radius: 24px;
    opacity: 0px;
}


h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin: 32px 32px 32px 16px;
}
h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #343A40;
    margin: 32px 32px 32px 16px;
}
.alerta {
    font-family: 'Inter';
    font-size: 12px;
    color: #343A40;
    opacity: 0.8;
    margin: 0 0 16px 8px;
}

.alerta img {
    margin-bottom: -4px;
}

.botoes {
    display: flex;
    gap: 20px;
}
.esconder {
    display: none;
}

#resultado textarea {
    resize: none;
}

#output-texto{
    width: 560px;
    height: 348px;
    top: 168px;
    left: 240px;
    gap: 0px;
    opacity: 0px;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    border-radius: 10px;
    border-style: none;
    outline: none;
    background-color: transparent;
    padding: 30px;
    
}
footer {
    text-align: center;
    color: #FFFFFF;
    background: #6153df;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: auto;

}

.link {
    height: 20px;
    margin: 10px 5px 10px 5px;
}

.link:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.alert-symbol {
    font-size: 14px;
    color: #6153df;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
    }

    #esquerda img, #direita img {
        width: 100px;
        height: 40px;
    }

    #input-texto, #output-texto {
        width: 100%;
        height: 200px;
        font-size: 24px;
        line-height: 36px;
    }

    button {
        width: 100%;
    }

    .botao {
        margin: 20px 0;
    }

    h2, h5 {
        margin: 16px 16px 16px 8px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }

    #input-texto, #output-texto {
        height: 100px;
        font-size: 18px;
        width: 210px;
        margin-top: -20px;
    }
    #direita, #esquerda{
        height: 250px;
        width: 300px;
    }
    #esquerda img {
        width: 60px;
        height: 24px;
        margin-top: -20%;
        margin-left: 1%;
    }
    #direita img {
        display: none;
    }
    h2 {
        font-size: 20px;
        line-height: 32px;
    }

    h5 {
        font-size: 14px;
        line-height: 24px;
    }

    button {
        font-size: 14px;
        height: 40px;
        width: 200px;
        margin-bottom: 15px;
        margin-left: 50px;
    }

    footer {
        padding: 10px 0;
    }
.botao{
    margin-left: 50px;
}
    .link {
        margin: 5px 2px;
    }
}
